---
import { siteConfig } from "../../lib/site.config";
---
<footer class="border-t border-border mt-16">
  <div class="container-shell py-8 text-sm">
    <p>{siteConfig.studioName}</p>
  </div>
</footer>
