---
import BaseLayout from "../../layouts/BaseLayout.astro";
import WorkGrid from "../../components/work/WorkGrid.astro";
import { getDictionary } from "../../i18n/utils";

const dict = getDictionary("en");
---
<BaseLayout title={dict.workIndex.metaTitle}>
  <main>
    <WorkGrid locale="en" dict={dict} />
  </main>
</BaseLayout>
