---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import WorkGrid from "../../../components/work/WorkGrid.astro";
---
<BaseLayout title="الأعمال">
  <main>
    <WorkGrid />
  </main>
</BaseLayout>
