---
const { href, label = "Click", type = "link" } = Astro.props;
---
{type === "link" ? (
  <a href={href} class="inline-block border border-border px-4 py-3">
    {label}
  </a>
) : (
  <button class="border border-border px-4 py-3">{label}</button>
)}
